body {
    max-width: auto;
    margin: 0 auto;
}

.text {
    padding: 2em;
    margin-bottom: 2em;
    font-size: x-large;
    height: 250px;
    text-align: center;
    color: white;
}
.nomJugador{
    display: flex;
    float: left;
    margin-top: 105px;
    margin-left: 10px;
    background-color: crimson;
    text-align: center;

}
.nom{
    background-color: blueviolet;
    width: fit-content;
    color: cornsilk;
    align-items: center;
    height: 120px;
    width: 200px;
    margin: auto;
    float:none;
}
.camiHistoria{
    background-color: blue;
    width: fit-content;
    color: cornsilk;
    align-items: center;
    height: 120px;
    width: 200px;
    margin: auto;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
}

.camiRecorregut{
    display: flex;
    margin: auto;
}
#historial{
    text-align: center;
    margin-left: 9  5px;
    display: flex;
}
#jugadorNom{
    
    text-align: center;
    margin-left: 5px;
    display: hidden;
}
.textNom{
    width: fit-content;
    color: cornsilk;
    align-items: center;
    text-align: center;

}
.botoNom{
    align-items: center;
    margin:auto;
    margin-left: 75px;
}
.joc{
    background-color: blue;
    float: left;
    margin-left: 40%;
    width: 500px
}
h1{
    text-align: center;
}
p{
    text-align: center;

}
.botonSalir{
    margin-left: 40%;
    margin-top: 20px;
}
.botonTorna{
    float: left;
    width: fit-content;
}
.botoSi{
    float: left;
    margin-left: 95px;
}
.botoNo{
    display: flex;
    float: right;
}
main{
    color: white;
    width: 100%;
    height: 100%;
    background-image: url("/imagenes/fondo.png");
    margin: auto;
}
    .botons{
        display: flex;
        gap: 50px;
        width: fit-content;
        
    }
    html{
        color: white;
        background-color: black ;
        
    }
    .contadorPagina{
        margin-left: 15px;
    }
    